<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Logged In</title>
</head>
<body>
    <div class="container"> 
        <div class="form_container">
            <h1>{{session.first_name}} {{session.last_name}}</h1>
            <a href="/log-out">Log Out</a>
        </div>
    </div>
</body>
</html>